body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}


#categorias {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}


#peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}


.card {
    background: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.card img {
    width: 100%;
}


.info {
    padding: 10px;
}


.titulo {
    font-size: 1rem;
    font-weight: bold;
}


.rating {
    color: #e3b300;
}